* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  background-color: darkblue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem; 
 }

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li:hover{
  background-color:rgb(137, 137, 137);
}

.card-professor {
  background-color: gray;
  border-radius: .5rem;
  margin: 1rem;
  padding: 0.05rem 0.5rem 0.5rem 1rem;
}

.card-disciplina {
  background-color: gray;
  border-radius: .5rem;
  margin: 1rem;
  padding: 0.05rem 0.5rem 0.5rem 1rem;
}

.card-review {
  background-color: darkgray;
  border-radius: .5rem;
  margin: 1rem;
  padding: 1rem;
}